<h2>Importfunktionen</h2>

<h3>Sådan skannes ordren</h3>
<div class="order">
    <div class="line"> 701002031</div>
    <div class="line date">19.08.2015</div>
    <div class="line">&nbsp;</div>
    <div class="line address">SuperGros A/S</div>
    <div class="line address">Knud Højgaards Vej 19,Port 1-9</div>
    <div class="line address">&nbsp;</div>
    <div class="line address">7100 Vejle</div>
    <div class="line">&nbsp;</div>
    <div class="line"> 30954</div>
    <div class="line">&nbsp;</div>
    <div class="line mismatch">O                        ORDRENR.12345</div>
    <div class="line match">3-5000384           1    Ciabatta Pomodore    10x2x250g</div>
    <div class="line match">5000181             1    Pain au Chocolat B     75g/80s</div>
    <div class="line match">5000655             1    Croissant au Beurre    65g/80s</div>
    <div class="line match">5000765             1    Boulot Multicereales  640g/11s</div>
    <div class="line match">5000835             1    Ciabatta Naturale     250g/24s</div>
    <div class="line ignored">L</div>
    <div class="line match">2103303             1    Kaiser Roll Sesame Se 55g/110s</div>
    <div class="line ignored">H                   1</div>
    <div class="line special">B10-01              1    KØRES AF:JN SPEDITION     1 pl</div>
    <div class="line ignored">--- EKSTRA ---

      Her kan der stå alle mulige ting som vil blive ignoreret
      ved importen.

      F.eks. antal colli og rumfang
    </div>
</div>

<p>
    Linjerne 1, 3 og 8 til 10 ignoreres altid.
</p>
<p data-changes="2016-01-14 02:04:16 +0100">
    Linje 2 indeholder en dato der bruges som <b>Læssedato</b> og <b>leveringdato</b> sættes til dagen efter.
</p>
<p>
    Linje 3 til 7 indeholder en addresse der bruges som <b>Modtager</b>. Eventuelle blanke linjer bliver fjernet.
    Den første linje i adressen bruges som <b>Ordrenr.</b> samt <b>Modtager id</b>.
</p>
<p>
    Fra linje 11 og til slutningen af dokumentet, scannes for varernumre (sammenhændende tal og bindestreg) og antal (tal).
    Hvis en linje ikke følger det normale format, vil den blive tilføjet til ordrens note.
    Dog med undtagelse af linjerne <i>L</i> og <i>H 1</i> som blot ignoreres, samt sidste linje der følger særlige regler
</p>
<p>
    Ordre eksemplet ovenfor vil derfor nave en <b>Note</b> med følgende indhold:
</p>
<p style="background-color: #fffcbf;padding:10px">
    O  ORDRENR.12345
</p>

<p data-changed="2016-01-07 21:16:35 +0100">
    I nogle tilfælde kan ordrens øverste 10 linjer blive gentaget. I dette tilfælde vil gentagelserne sorteres fra når linjerne analyseres.
</p>
<p data-changed="2016-01-17 14:46:00 +0100">
    Hvis der findes en linje med teksten <code>--- EKSTRA ---</code> ignoreres denne, samt alt følgende indhold.
</p>
<h4>Sidste linje</h4>
<p data-changes="2016-01-14 02:04:16 +0100">
    Hvis en linje på ordren starter med <code>B10</code> eller <code>B11</code> betyder det at ordren køres af JN Spedition.
    I dette tilfælde vil <b>leveringsdato</b> sættes til samme dag som <b>læssedato</b>.
</p>
<p data-changes="2016-01-14 02:04:16 +0100">
    Selve beskrivelsen vil gemmes i feltet <b>Levering</b> som også vil blive sat for hver ordre.
    Dette felt vil desuden blive vist på pallesedlen.
</p>
<p data-changes="2016-01-14 02:04:16 +0100">
    Hvis sidste ord på sidste linje er <code>TILLÆG</code> vil ordre nummeret ændres så det slutter på <code> - Tillæg</code>.
</p>
<div data-changed="2016-01-07 21:16:35 +0100">
  <h3>Sådan vælges varerne</h3>
  <p>
      For hver matchede ordrelinje søges der, under hver af kunderne i kundegruppen, efter paller med et varenummer der matcher.
      Søgningen ser altid bort fra paller der står i lobbyen.
  </p>
  <p>
      Der plukkes altid varer således at den ældste vare vælges først (ift. <i>mindst holbar til</i>).
      Hvis der kan plukkes en helpalle, vil dette prioriteres, så længe pallen har samme M.H.T.
  </p>
  <p>
      Hvis der mangler en eller flere varer afbrydes importen.
  </p>
  <h3>Rettelser i samtlige ordrer</h3>
  <p>
      Der vil blive oprettede 1 til flere ordrer ud fra en import.
      Hvis der er behov for tilretninger, kan man rette samtlige ordre på én gang ved at redigere importen.
      Hvis der er behov for at lave individuelle tilretninger, kan man gøre dette som man plejer under til de oprettede ordre.
  </p>
</div>