<html>
<head>
  <meta charset="utf-8">
  <title>Import af ordre</title>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag 'docs', :media => 'all' %>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' %>
</head>
<body>
<div class="container" style="max-width:800px">
  <div class="paper">
    <%= yield %>
  </div>
</div>
</body>
</html>