<p>Hej <%= @resource.full_name %></p>
<p>
  Du har anmodet om at nulstille dit kodeord.<br>
  For at Indstille et nyt kodeord skal du klikke på linket:
</p>
<p><%= link_to 'Indstil nyt kodeord', edit_password_url(@resource, :reset_password_token => @token) %></p>
<p>Hvis du ikke har anmodet om nyt kodeord, kan du blot ignorere denne mail.</p>
<p>Dit kodeord ændres ikke før du klikker på linket ovenfor og indstiller et nyt.</p>
